<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_URI} ^/(CMS|CMS/.*)$
  RewriteRule ^/CMS/index\.html$ - [L,NC]
  
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(CMS|CMS/.*)$ CMS/index.html [L]

  RewriteCond %{REQUEST_URI} ^/(CMC|CMC/.*)$
  RewriteRule ^/CMC/index\.html$ - [L,NC]
  
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(CMC|CMC/.*)$ CMC/index.html [L]
</IfModule>